
<section class="listing-overview">

        @if (Model.UserId == this.User.Identity.GetUserId() && this.User.Identity.IsAuthenticated)
        {
            <div class="nav-buttons" style="padding-bottom:30px;">
                <a asp-action="DeleteCar" asp-controller="Car" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                <a asp-action="EditCar" asp-controller="Car" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="All" asp-controller="Car" class="btn btn-secondary">Back</a>
            </div>

        </div>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                            <div class="row">
                                <div class="col-md-8">
                                    <ul class="features">
                                        <li class="check"><span class="ion-ios-checkmark"></span>Mileage: @Model.Mileage</li>
                                        <li class="check"><span class="ion-ios-checkmark"></span>Hourse Power: @Model.HoursePower</li>
                                        <li class="check"><span class="ion-ios-checkmark"></span>Transmission: @Model.Transmission</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="features">
                                        <li class="check"><span class="ion-ios-checkmark"></span>Category: @Model.Category</li>
                                        <li class="remove"><span class="ion-ios-close"></span>Color: @Model.Color</li>
                                        <li class="check"><span class="ion-ios-checkmark"></span>Engine: @Model.EngineType</li>
                                        <li class="check"><span class="ion-ios-checkmark"></span>Year: @Model.YearOfCreation</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>