@using CarShop.Common
@using CarShop.Web.ViewModels.Home;
@model List<HomeVM>
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
</div>

<hr />

<div class="row">

    @foreach (var car in Model)
    {
        <div class="card col-md-4" style="width: 18rem; margin:10px;">
            <img src="@car.RemoteUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@car.CarBrand (@car.CarModel)</h5>
                <p class="card-text">The @car.CategoryName it's build @car.YearOfCreation year and has @car.HorsePower hourse power.</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Edit Description</a>
                <a href="#" class="card-link">Delete Car</a>
            </div>
        </div>
    }
</div>


